.task-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

button.delete {
  float: right;
  top: -60px;
}

.col {
  width: 50%;
}

@media only screen and (min-width: 768px) {
    /* For desktop browsers: */
    .col {
      width: 100%;
    }
}